
.imgFade{
    background-color:white;
    transition: 1s;
   
}
.fadeText{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    transition: 1s;
}

.imgFade:hover{
    color:rgb(176, 188, 204);
    transform: scale(1.1);

}

.align-center{
    text-align:center;

}

.align-left{
    text-align:left;
}

.align-right{
    text-align:right;
}
.nav-item:hover .fadeText{
    color:rgb(176, 188, 204);
   
}

.name{
    font-family:'Courier New', Courier, monospace;
    transition:1s;
}

.headings{
    font-family:'Times New Roman', Times, serif;
    font-size:1.25cm;
}
.default{
    font-family:'Courier New', Courier, monospace;
    font-size:0.6cm;
    color:black;
}


.box:hover .name{
    color:rgb(176, 188, 204);
    transform:scale(1.1);
    font-style:unset;
   
}

.greyBorder{
    border-color:rgb(176, 188, 204);
}

.center-caption{
    top:50%;
    transform: translateY(-50%);
    bottom: initial;


    transform-style:preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;

}


 @media (max-width: 480px ) {
    .center-logo
 {
     justify-content: center;
     margin:auto;
 }
}





.center-message{
    margin-top:4cm;
}
@media (max-width:480px){
    .center-message{
        
            margin-top:.5cm;
    }
}


.spacing{
    margin-top:1cm;
}

p{
    font-size:0.5cm;
}
.project-img{
    height:300px;
    width:350px;
    object-fit:cover;
}

.project-img-hover{
    
}
.foot-text{
    font-size:0.4cm;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(176, 188, 204);
}

.help{
 justify-content: center;
}
    
