
.imgFade{
    background-color:white;
    transition: 1s;
   
}
.fadeText{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    transition: 1s;
}

.imgFade:hover{
   
   transform: scale(1.1);

}
.fortnite{
    background-image: url(images/AkinPicture.jpg);
    height: 100%;
    width:100%

}

.align-center{
    text-align:center;

}
.align-left{
    text-align:left;

}

.align-right{
    text-align:right;
}
.nav-item:hover .fadeText{
    color:rgb(120, 120, 120);
   
}

.name{
    font-family:'Courier New', Courier, monospace;
    transition:1s;
}

.headings{
    font-family:'Times New Roman', Times, serif;
    font-size:2cm;
}
.default{
    font-family:sans-serif;
    font-size:1cm;
}


.box:hover .name{
    color:rgb(176, 188, 204);
    transform:scale(1.1);
    font-style:unset;
   
}

p{
    font-size:0.6cm;
}

    
