

.imgFade{
    background-color:white;
    transition: 1s;
    border: 1cm;
    border-color:aqua;
}
.fadeText{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    transition: 1s;
}

.imgFade:hover{
   
   /* background-color:rgb(176, 188, 204); */
   border-color:rgb(176, 188, 204);
   transform: scale(1.1);

}
/* .fadeText:hover{
    color:black;

} */
.align-center{
    text-align:center;

}
.align-left{
    text-align:left;

}

.align-right{
    text-align:right;
}
.nav-item:hover .fadeText{
    color:rgb(120, 120, 120);
   
}

.name{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition:1s;
    
}

.box:hover .name{
    color:rgb(176, 188, 204);
    transform:scale(1.1);
    font-style:unset;
   
}
 .box:hover .rightB{
    color:rgb(176, 188, 204);
    transform: translate(-50px, -8px);
    
}
.box:hover  .leftB{
    color:rgb(176, 188, 204);
    transform: translate(50px, -8px);
}
.leftB{
    font-size:3cm;
    transform: translate(50px,-8px);
    transition:1s;
}
.rightB{
    font-size:3cm;
    transform: translate(-50px,-8px);
    transition:1s;
} 
p{
    font-size:0.6cm;
}

@keyframes fadeIn{
    0%{
        bakground-color:white;
    }

    100%{
        background-color:darkolivegreen;
    }
    
}